<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Gis App</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/salepoint" routerLinkActive="active">Sale points</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/offer" routerLinkActive="active">Offers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/usermanagement" routerLinkActive="active">User management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product" routerLinkActive="active">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/studies" routerLinkActive="active">Studies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/map" routerLinkActive="active">Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/distribution" routerLinkActive="active">Distribution Scheduling</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/buyinghouse" routerLinkActive="active">Buying the house</a>
      </li>

    </ul>
  </div>
</nav>
